body {
    font-family: Arial, sans-serif;
}

h1, h2, h3 {
    margin-bottom: 1rem;
}

.card {
    margin-bottom: 2rem;
}

.card-header {
    font-weight: bold;
}


.text-center {
    text-align: center;
}

.my-4 {
    margin: 1.5rem 0;
}

.btn-primary {
    padding: 0.5rem 1.5rem;
}

#counter-display {
    font-size: 2rem;
    font-weight: bold;
    color: #fd0d0d;
}